html {
  scrollbar-gutter: stable;
}

body {
  padding-right: 0 !important;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.modal {
  transition: opacity 0.15s linear;
}

.modal-dialog {
  transition: transform 0.15s ease-out;
}

body.modal-open {
  overflow: hidden;
  padding-right: 0 !important;
}

.btn-close {
  background-color: #fee715 !important;
}

.btn-outline-gold {
  border-color: #fee715 !important;
  color: #fee715 !important;
  background-color: transparent !important;
  transition: background 0.2s, color 0.2s;
}
.btn-outline-gold:hover,
.btn-outline-gold:focus {
  background-color: #fee715 !important;
  color: #101820 !important;
  border-color: #fee715 !important;
}

.btn-outline-gold {
  border-color: #fee715 !important;
  color: #fee715 !important;
  background-color: transparent !important;
  transition: background 0.2s, color 0.2s;
}
.btn-outline-gold:hover,
.btn-outline-gold:focus {
  background-color: #fee715 !important;
  color: #101820 !important;
  border-color: #fee715 !important;
}
#productModalProductPrice {
  letter-spacing: -1px;
}
